{% extends 'jobs/base.html' %}
{% block header-title %}
  <title>Richard long</title>
{% endblock %}

{% block content %}
  {% load staticfiles %}
  <main role="main">
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Hi, I'm Richard</h1>
        <p class="lead text-muted">I am a programmer learning Django</p>
        <p>
          <a href="mailto:richard.long.e@gmail.com" class="btn btn-primary my-2">Email Me</a>
        </p>
        <img src="{% static 'richard.jpg' %}" alt="" heigth=500 width=500>
      </div>
    </section>

    <div class="album py-5 bg-light">
      <div class="container">
        <div class="row">
          {% for job in jobs.all%}
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img class="card-img-top" alt="job.image" src="{{ job.image.url }}">
              <div class="card-body">
                <p class="card-text">{{ job.summary }}</p>
              </div>
            </div>
          </div>        
          {% endfor %}
        </div>
      </div>
    </div>
  </main>
{% endblock %}
